/*START VARIABLES*/
:root {
    --color-font-white: aliceblue;
    --color-font-pink: #fa4c4c;

    --height-header: 100px;
    --height-footer: 75px;
}

/*END VARIABLES*/
/*START GENERALITY*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

main {
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

hr {
    color: var(--color-font-pink);
    margin-bottom: 2rem;
}

::selection{
    background-color: var(--color-font-pink);
    color: var(--color-font-white);
}

/* Firefox */
::-moz-selection {
    background-color: var(--color-font-pink);
    color: var(--color-font-white);
}
/*END GENERALITY*/
/*START HEADER*/
.header {
    height: var(--height-header);
    background-color: #454545;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: auto;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font-white);
    font-size: 3rem;
}

.summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.summary a {
    display: flex;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    color: var(--color-font-white);
    font-size: 1.2rem;
}

.burger{
    width: 42px;
    height: 24px;
    position: relative;
    display: none;
}

.burger span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-font-white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--color-font-white);
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-10px);
}

.burger span::after{
    transform: translateY(10px);
}

.burger.deployed span{
    background-color: transparent;
}

.burger.deployed span::before{
    transform: translateY(0) rotateZ(45deg);
    background-color: var(--color-font-pink);
}

.burger.deployed span::after{
    transform: translateY(0) rotateZ(-45deg);
    background-color: var(--color-font-pink);
}

/*ANIMATION*/
.header a:hover {
    color: var(--color-font-pink);
}
/*END HEADER*/
/*START FOOTER*/
.footer {
    height: var(--height-footer);
    background-color: #454545;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 70%;
    margin: auto;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-font-white);
    font-size: 1rem;
}

.footer p {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--color-font-white);
}
/*ANIMATION*/
.footer a:hover {
    color: var(--color-font-pink);
}
/*END FOOTER*/

/*MOBILE*/
@media only screen and (max-width: 768px) {

    .header-container {
        width: 100%;
        justify-content: space-around;
    }

    .header h1 {
        font-size: 2rem;
        z-index: 2000;
    }

    .summary{
        position: fixed;
        background-color: #454545;
        width: 100%;
        height: 100vh;
        margin: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-in-out;
        pointer-events: none;
    }

    .summary.open{
        clip-path: circle(2000px at 90% -30%);
        -webkit-clip-path: circle(2000px at 90% -30%);
        pointer-events: all;
    }

    .summary li {
        height: 50px;
    }

    .burger{
        display: block;
        z-index: 1000;
    }
}