<!doctype html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/admin.css" rel="stylesheet" type="text/css">
    <title>Bubba Gump | Admin</title>
</head>
<body>
<main>
    <header th:replace="fragments/header-admin.html :: header-admin"></header>

</main>
</body>
</html>