<!doctype html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/menu.css" rel="stylesheet" type="text/css">
    <title>Bubba Gump | La carte</title>
</head>
<body>
<main>
    <header th:replace="fragments/header.html :: header"></header>
    <div class="menu-nav-container">
        <h2>La carte</h2>
        <ul>
            <li><a href="#start">Entrée</a></li>
            <li><a href="#middle">Plat</a></li>
            <li><a href="#end">Déssert</a></li>
        </ul>
    </div>
    <section class="menu-list-container">
        <ul class="menu-list menu-start-container">
            <h3 id="start">Entrées</h3>
            <hr>
            <li th:each="dish : ${dishListStart}" class="menu-dish-container">
                <div class="menu-dish-container">
                    <div class="menu-dish-text">
                        <h4 th:text="${dish.name}"></h4>
                        <p th:text="${dish.description}"></p>
                    </div>
                    <div class="menu-dish-rigth">
                        <div class="menu-dish-img">
                            <img th:src="${dish.image}" alt="dish photo">
                        </div>
                        <div class="menu-dish-price">
                            <p th:text="|${dish.price} €|"></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="menu-list menu-middle-container">
            <h3 id="middle">Plats</h3>
            <hr>
            <li th:each="dish : ${dishListMiddle}" class="menu-dish-container">
                <div class="menu-dish-container">
                    <div class="menu-dish-text">
                        <h4 th:text="${dish.name}"></h4>
                        <p th:text="${dish.description}"></p>
                    </div>
                    <div class="menu-dish-rigth">
                        <div class="menu-dish-img">
                            <img th:src="${dish.image}" alt="dish photo">
                        </div>
                        <div class="menu-dish-price">
                            <p th:text="|${dish.price} €|"></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="menu-list menu-end-container">
            <h3 id="end">Désserts</h3>
            <hr>
            <li th:each="dish : ${dishListEnd}" class="menu-dish-container">
                <div class="menu-dish-container">
                    <div class="menu-dish-text">
                        <h4 th:text="${dish.name}"></h4>
                        <p th:text="${dish.description}"></p>
                    </div>
                    <div class="menu-dish-rigth">
                        <div class="menu-dish-img">
                            <img th:src="${dish.image}" alt="dish photo">
                        </div>
                        <div class="menu-dish-price">
                            <p th:text="|${dish.price} €|"></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
<script src="/js/header.js" type="text/javascript"></script>
<script src="/js/menu.js" type="text/javascript"></script>
</html>